<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <array>
	<string>I feel down hearted and blue.</string>
	<string>Morning is when I feel the best.</string>
	<string>I have crying spells or feel like it.</string>
	<string>I have trouble sleeping at night.</string>
	<string>I eat as much as I used to.</string>
	<string>I still enjoy sex.</string>
	<string>I notice that I am losing weight.</string>
	<string>I have trouble with constipation.</string>
	<string>My heart beats faster than usual.</string>
	<string>I get tired for no reason.</string>
	<string>My mind is as clear as it used to be.</string>
	<string>I find it easy to do the things I used to.</string>
	<string>I am restless and can&apos;t keep still.</string>
	<string>I feel hopeful about the future.</string>
	<string>I am more irritable than usual.</string>
	<string>I find it easy to make decisions.</string>
	<string>I feel that I am useful and needed.</string>
	<string>My life is pretty full.</string>
	<string>I feel that others would be better off if I were dead.</string>
	<string>I still enjoy the things I used to do.</string>
   </array>
</plist>
