<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>Eu me sinto para baixo e deprimido.</string>
    <string>De manhã é quando me sinto melhor.</string>
    <string>Eu tenho crises de choro ou vontade de chorar.</string>
    <string>Tenho problemas para dormir à noite.</string>
    <string>Eu como tanto quanto costumava fazer.</string>
    <string>Eu ainda gosto de sexo.</string>
    <string>Noto que estou perdendo peso.</string>
    <string>Tenho problemas com prisão de ventre.</string>
    <string>Meu coração bate mais depressa do que o habitual.</string>
    <string>Fico cansado sem nenhum motivo.</string>
    <string>Minha mente está tão clara quanto costumava ser.</string>
    <string>Acho que é fácil fazer as coisas que eu costumava fazer.</string>
    <string>Estou inquieto e não consigo ficar parado.</string>
    <string>Sinto-me esperançoso quanto ao futuro.</string>
    <string>Eu estou mais irritado do que o habitual.</string>
    <string>Acho que é fácil tomar decisões.</string>
    <string>Eu sinto que sou útil e necessário.</string>
    <string>Minha vida é cheia de sentido.</string>
    <string>Eu sinto que para os outros seria melhor se eu estivesse morto.</string>
    <string>Eu ainda gosto das coisas que eu costumava fazer.</string>
</array>
</plist>
